@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Adventure;
	src: url(https://web3atl.io/adventure.woff);
}

body {
	background-color: #ffffff;
	@apply text-black;
}

section {
	@apply container max-w-screen-2xl mx-auto;
	padding: 2rem;

	h2 {
		@apply font-bold text-4xl mb-8;
	}

	h3 {
		@apply font-bold text-2xl mt-8 mb-3;
	}
}

.card {
	@apply border border-gray-500/20 p-8 rounded;
}

.shadow-hover-lg {
	@apply hover:shadow-black/20 hover:shadow-lg shadow-sm transition-shadow;
}

.shadow-hover-2xl {
	@apply hover:shadow-black/90 hover:shadow-2xl hover:scale-[1.01] shadow-sm transition-all;
}

.button {
	@apply px-8 py-3 rounded-md text-white bg-gray-800 shadow-hover-lg text-center font-medium;
}

.button-lg {
	@apply px-12 text-lg py-4;
}

@keyframes move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(0px);
	}
}

.move {
	transform: rotateX(40deg);
	animation: one 2s infinite;
	animation-direction: alternate;
}

.bg-gradient-0 {
	background-color: #ffc299;
	background-image: radial-gradient(at 33% 20%, hsla(172, 73%, 79%, 1) 0px, transparent 50%),
		radial-gradient(at 6% 63%, hsla(204, 83%, 69%, 1) 0px, transparent 50%),
		radial-gradient(at 39% 92%, hsla(292, 74%, 69%, 1) 0px, transparent 50%),
		radial-gradient(at 46% 37%, hsla(2, 89%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 42% 94%, hsla(101, 88%, 79%, 1) 0px, transparent 50%),
		radial-gradient(at 75% 85%, hsla(30, 60%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 94% 83%, hsla(136, 64%, 65%, 1) 0px, transparent 50%);
}

.bg-gradient-1 {
	background-color: hsla(0, 100%, 50%, 1);
	background-image: radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

.bg-gradient-2 {
	background-color: #ee99ff;
	background-image: radial-gradient(at 98% 48%, hsla(239, 80%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 65% 81%, hsla(261, 77%, 79%, 1) 0px, transparent 50%),
		radial-gradient(at 45% 50%, hsla(103, 69%, 65%, 1) 0px, transparent 50%),
		radial-gradient(at 79% 78%, hsla(185, 75%, 65%, 1) 0px, transparent 50%),
		radial-gradient(at 44% 74%, hsla(34, 69%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 93% 22%, hsla(314, 87%, 68%, 1) 0px, transparent 50%),
		radial-gradient(at 40% 22%, hsla(8, 94%, 67%, 1) 0px, transparent 50%);
}

.bg-gradient-3 {
	background-color: #99fff0;
	background-image: radial-gradient(at 16% 77%, hsla(163, 79%, 64%, 1) 0px, transparent 50%),
		radial-gradient(at 69% 23%, hsla(198, 63%, 66%, 1) 0px, transparent 50%),
		radial-gradient(at 15% 22%, hsla(61, 62%, 78%, 1) 0px, transparent 50%),
		radial-gradient(at 53% 10%, hsla(251, 85%, 62%, 1) 0px, transparent 50%),
		radial-gradient(at 86% 54%, hsla(226, 97%, 71%, 1) 0px, transparent 50%),
		radial-gradient(at 39% 63%, hsla(170, 95%, 60%, 1) 0px, transparent 50%),
		radial-gradient(at 31% 96%, hsla(24, 98%, 67%, 1) 0px, transparent 50%);
}

.bg-gradient-4 {
	background-color: #ffaf99;
	background-image: radial-gradient(at 46% 65%, hsla(34, 99%, 73%, 1) 0px, transparent 50%),
		radial-gradient(at 39% 22%, hsla(228, 80%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 23% 5%, hsla(9, 63%, 71%, 1) 0px, transparent 50%),
		radial-gradient(at 20% 93%, hsla(212, 93%, 71%, 1) 0px, transparent 50%),
		radial-gradient(at 20% 0%, hsla(288, 65%, 66%, 1) 0px, transparent 50%),
		radial-gradient(at 81% 58%, hsla(40, 66%, 70%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 78%, hsla(323, 75%, 65%, 1) 0px, transparent 50%);
}

h2 {
	@apply font-adventure uppercase;
}
